html{
  width: 100%;
  height: 100%;
}
body{
  width:100%;
  height: 100%;
  background-color: #D1FEE6;
  user-select:none;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 7px;
}
input{
  background-color: #D1FEE6
}
textarea{
  background-color: #D1FEE6
}

/*......................Hovering concept...................*/

h1{color: #53D48F;
}
h1:hover{color: grey;}
h2{color: #53D48F;
}
h2:hover{color: grey;}

img{
  background-color: #D1FEE6
}
/*......................class concept.....................*/


.star_hover:hover{
  font-size: 20px;
}

.profileimg:hover{
  width: 160px;height: 160px;
}
hr:hover{
  border-color: white;
}
.contactme_hover:hover{
  font-size: 18px;
}
.boxing_gif{
 position: relative;
 left: 200px;
}

.development_gif{
  position: relative;
  left: 100px;
  border-radius: 50px;
}
.Typing_gif{
  position: relative;
  left: 100px;
  border-radius: 50px;
}
.dribble_gif{
  border-radius: 50px;
  position: relative;
  left: 100px;
}
