body{
  background-color: #D1FEE6
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 7px;
}
input{
  background-color: #D1FEE6
}
textarea{
  background-color: #D1FEE6
}

/*......................Hovering concept...................*/

h1{color: #53D48F} h1:hover{color: grey;}
h2{color: #53D48F} h2:hover{color: grey;}

img{
  background-color: #D1FEE6
}
/*......................class concept.....................*/


.star_hover:hover{
 font-size: 20px;
}
.fixtext_hover:hover{
  position:fixed;
}
.profileimg:hover{
  width: 160px;height: 160px;
}
hr:hover{
  border-color: white;
}
.contactme_hover:hover{
  font-size: 18px;
}
.boxing_gif{
  margin-left: 650px;

}
