
body{
  background-color: #472D2D;
  user-select:none;
}


hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: grey;
  border-width: 7px;



}
input{
  background-color: #472D2D
}
textarea{
  background-color: #472D2D
}
/*----------------------Divisions-------------------------*/
.J_divs{
  background-color: #A77979;
  width: 600px;
  margin-left: 200px;
  border-radius: 25px;
}

.profile_div{
    display: block;
}
.Literature_div{
  background-color: #A77979;
}
.contact_div{
  height: 100px

}



/*---------------------------Tables--------------------*/

.profile_table{
  margin-left: 60px;
}
.Literature_list{
  margin-left: 60px;
}
.skills_table{
  margin-left: 60px;
}
.hobbie_table{
  margin-left: 60px;
}
/*......................Hovering concept...................*/

h1{color: #BFACE0;}
h1:hover{color: grey;}
h2{color: #BFACE0;
  margin-left: 250px;
  display: inline-block;
}
h2:hover{color: grey;}

img{
  background-color: #A77979
}
/*......................class concept.....................*/


.star_hover:hover{
  font-size: 20px;
}

.profileimg:hover{
  width: 160px;
  height: 160px;
}
hr:hover{
  border-color: white;
}

.mail_contact{
  position: absolute;
  top: 1160px ;
  left: 350px;
}
.mail_contact:hover{
  height:  45px;
  width: 45px;
}
.insta_contact{
  position: absolute;
  top:1160px;
  left: 650px;
  margin: 0;
}
.insta_contact:hover{
  height: 45px;
  width: 45px;
}
/*------------------Gifs----------------*/

.development_gif{
  position: relative;
  left: 100px;
  border-radius: 50px;
}
.Typing_gif{
  position: relative;
  left: 100px;
  border-radius: 50px;
}
.dribble_gif{
  border-radius: 50px;
  position: relative;
  left: 100px;
}
.boxing_gif{
 position: absolute;
 left: 650px;
 top: 960px;
 background-color: #A77979;
}
